@model Category

@{
    string pageTitle = Model == null ? "Create Category" : "Edit Category";
    string pageButton = Model == null ? "Create" : "Update";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@pageTitle</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input type="number" asp-for="Id" hidden>
            <div class="border p-3 mt-4">

                @* <div class="mb-3 text-danger" asp-validation-summary="ModelOnly"></div>  this will display all the errors at the top of the form, All- shows all errors, ModelOnly- targets only errors not related to any fields *@
                <div class="mb-5">
                    <label for="Name" class="form-label">Category Name</label>
                    <input type="text" class="form-control shadow"  asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DisplayOrder" class="form-label"></label>
                    <input type="number" class="form-control shadow" asp-for="DisplayOrder" min="1">
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
        
                <div class="row mb-3 pt-5">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@pageButton</button>
                    </div>
                    <div class="col-6 col-md-4">
                        <a class="btn btn-outline-primary form-control" asp-controller="Category" asp-action="Index">Back to list</a>
                    </div>
            
                </div>


            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

