@model Product

@{
    string pageTitle = Model == null ? "Create Product" : "Edit Product";
    string pageButton = Model == null ? "Create" : "Update";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@pageTitle</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 mt-4">
               <div class=" py-2 col-12 mb-3">
                    <label for="Title" class="form-label">Product Title</label>
                    <input type="text" class="form-control shadow"  asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class=" py-2 col-12 mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea type="text" class="form-control shadow" asp-for="Description" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class=" py-2 col-6 mb-3">
                        <label for="Author" class="form-label"> Author</label>
                        <input type="text" class="form-control shadow"  asp-for="Author">
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-6 mb-3">
                        <label asp-for="ISBN" class="form-label"></label>
                        <input type="text" class="form-control shadow" asp-for="ISBN">
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class=" py-2 col-3 mb-3">
                        <label for="ListPrice" class="form-label">List Price</label>
                        <input type="number" class="form-control shadow" asp-for="ListPrice">
                        <span asp-validation-for="ListPrice" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input type="number" class="form-control shadow" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="Price50" class="form-label"></label>
                        <input type="number" class="form-control shadow" asp-for="Price50">
                        <span asp-validation-for="Price50" class="text-danger"></span>
                    </div>
                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="Price100" class="form-label"></label>
                        <input type="number" class="form-control shadow" asp-for="Price100">
                        <span asp-validation-for="Price100" class="text-danger"></span>
                    </div>

                </div>
        
                <div class="row mb-3 pt-5">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@pageButton</button>
                    </div>
                    <div class="col-6 col-md-4">
                        <a class="btn btn-outline-primary form-control" asp-controller="Product" asp-action="Index">Back to list</a>
                    </div>
            
                </div>


            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

