@model Company

@{
    string pageTitle = Model.Name == null ? "Create Company" : "Edit Company";
    string pageButton = Model.Name == null ? "Create" : "Update";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@pageTitle</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input  asp-for="Id" hidden>
            <div class="border p-3 mt-4">
                <div class="row">
                    <div class=" py-2 col-8 mb-3">
                        <label for="Name" class="form-label text-muted">Company Name</label>
                        <input type="text" class="form-control shadow" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class=" py-2 col-4 mb-3">
                        <label asp-for="PhoneNumber" class="form-label text-muted"></label>
                        <input type="text" class="form-control shadow" asp-for="PhoneNumber">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class=" py-2 col-3 mb-3">
                        <label for="StreetAddress" class="form-label text-muted">Street Address</label>
                        <input type="text" class="form-control shadow" asp-for="StreetAddress">
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="City" class="form-label text-muted"></label>
                        <input type="text" class="form-control shadow" asp-for="City">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="StateOrProvince" class="form-label text-muted">State/Province</label>
                        <input type="text" class="form-control shadow" asp-for="StateOrProvince">
                        <span asp-validation-for="StateOrProvince" class="text-danger"></span>
                    </div>

                    <div class=" py-2 col-3 mb-3">
                        <label asp-for="PostalCode" class="form-label text-muted"></label>
                        <input type="text" class="form-control shadow" asp-for="PostalCode">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    

                </div>
        
                <div class="row mb-3 pt-5">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@pageButton</button>
                    </div>
                    <div class="col-6 col-md-4">
                        <a class="btn btn-outline-primary form-control" asp-controller="Company" asp-action="Index">Back to list</a>
                    </div>
            
                </div>


            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent ',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        </script>
    }
}

